html {
  padding: 0;
  margin: 0; }
  html body {
    background-color: #673AB7;
    color: #ffffff;
    font-family: "Roboto",sans-serif;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; }
    html body #header {
      display: block;
      margin: 0;
      padding: 0;
      height: 5em;
      width: 100%;
      background-color: #512DA8; }
      html body #header h3 {
        vertical-align: middle;
        float: left;
        font-size: 4em;
        display: inherit;
        margin: 0; }
      html body #header .logout-icon {
        text-decoration: none;
        float: right;
        height: 2em;
        width: auto; }
        html body #header .logout-icon i {
          font-size: 4em;
          color: white; }
    html body .container .signbtn {
      height: 5em;
      margin: 5px;
      width: 100%;
      text-align: center; }
      html body .container .signbtn p {
        font-size: 1.5em;
        vertical-align: center; }
    html body .container h1 {
      padding-left: 1.37em; }
    html body .choice {
      width: 100%; }
      html body .choice #profile {
        height: 100%;
        width: 20em;
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block; }
        html body .choice #profile .profile-picture {
          width: 80%;
          margin: 0 auto;
          text-align: center;
          height: auto; }
        html body .choice #profile h1 {
          font-size: 3em;
          color: black; }
      html body .choice #training-canvas {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 50em;
        margin-left: 10px;
        padding: 0;
        margin-top: 14px; }
        html body .choice #training-canvas .options {
          width: 100%;
          height: 10em;
          padding: 0;
          vertical-align: middle;
          text-align: center; }
          html body .choice #training-canvas .options span {
            position: relative;
            top: 40%;
            font-size: 4em; }
        html body .choice #training-canvas #FiBl #img-div img {
          width: 100%;
          height: auto; }
        html body .choice #training-canvas #FiBl #answer-div input {
          width: 80%; }
        html body .choice #training-canvas #FiPa {
          z-index: -1; }
          html body .choice #training-canvas #FiPa .c1 {
            z-index: -1;
            height: 100%;
            width: 50%;
            float: left; }
            html body .choice #training-canvas #FiPa .c1 button {
              display: block;
              background-color: #536DFE;
              width: 100%;
              height: 5em;
              color: white;
              border: rgba(0, 0, 0, 0);
              transition: border-color .3s linear; }
              html body .choice #training-canvas #FiPa .c1 button:hover {
                border: solid 1px white;
                transition: border-color .3s linear; }
            html body .choice #training-canvas #FiPa .c1 .selected {
              position: relative;
              z-index: 5;
              transition: .3s ease-in-out;
              box-shadow: 2px 2px 2px 2px rgba(10, 10, 10, 0.5); }
            html body .choice #training-canvas #FiPa .c1 .disabled {
              z-index: -1;
              transition: .3s ease-in-out;
              background-color: #512DA8; }
              html body .choice #training-canvas #FiPa .c1 .disabled:hover {
                border: none; }
          html body .choice #training-canvas #FiPa .c2 {
            z-index: -1;
            height: 100%;
            width: 50%;
            float: right; }
            html body .choice #training-canvas #FiPa .c2 button {
              display: block;
              background-color: #536DFE;
              width: 100%;
              height: 5em;
              color: white;
              border: rgba(0, 0, 0, 0);
              transition: border-color .3s linear; }
              html body .choice #training-canvas #FiPa .c2 button:hover {
                border: solid 1px white;
                transition: border-color .3s linear; }
            html body .choice #training-canvas #FiPa .c2 .selected {
              position: relative;
              z-index: 5;
              transition: .3s ease-in-out;
              box-shadow: 2px 2px 2px 2px rgba(10, 10, 10, 0.5); }
            html body .choice #training-canvas #FiPa .c2 .disabled {
              z-index: -1;
              transition: .3s ease-in-out;
              background-color: #512DA8; }
              html body .choice #training-canvas #FiPa .c2 .disabled:hover {
                border: none; }
        html body .choice #training-canvas #MuCho #quest-div .quest {
          color: black; }
        html body .choice #training-canvas #MuCho #answer-div .c1 {
          height: 100%;
          width: 50%;
          float: left; }
          html body .choice #training-canvas #MuCho #answer-div .c1 button {
            display: block;
            background-color: #536DFE;
            width: 100%;
            height: 5em;
            color: white;
            border: rgba(0, 0, 0, 0);
            transition: border-color .3s linear; }
            html body .choice #training-canvas #MuCho #answer-div .c1 button:hover {
              border: solid 1px white;
              transition: border-color .3s linear; }
          html body .choice #training-canvas #MuCho #answer-div .c1 .right-answ {
            background-color: forestgreen;
            transition: background-color .3s ease-in-out; }
          html body .choice #training-canvas #MuCho #answer-div .c1 .wrong-answ {
            background-color: darkred;
            transition: background-color .3s ease-in-out; }
        html body .choice #training-canvas #MuCho #answer-div .c2 {
          height: 100%;
          width: 50%;
          float: right; }
          html body .choice #training-canvas #MuCho #answer-div .c2 button {
            display: block;
            background-color: #536DFE;
            width: 100%;
            height: 5em;
            color: white;
            border: rgba(0, 0, 0, 0);
            transition: border-color .3s linear; }
            html body .choice #training-canvas #MuCho #answer-div .c2 button:hover {
              border: solid 1px white;
              transition: border-color .3s linear; }
          html body .choice #training-canvas #MuCho #answer-div .c2 .right-answ {
            background-color: forestgreen;
            transition: background-color .3s ease-in-out; }
          html body .choice #training-canvas #MuCho #answer-div .c2 .wrong-answ {
            background-color: darkred;
            transition: background-color .3s ease-in-out; }
          html body .choice #training-canvas #MuCho #answer-div .c2 .disabled {
            transition: .3s ease-in-out;
            background-color: #512DA8; }
            html body .choice #training-canvas #MuCho #answer-div .c2 .disabled:hover {
              border: none; }

/*# sourceMappingURL=main.css.map */
